body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(2, 84, 104);
}

#hands {
    display: flex;
    flex-direction: column;
}
div#hands {
    position: abssolute;
    top: 0px;
    left: 0px;
    right: 320px;
    bottom: auto;
 
    width: 315px;
}
img {
    margin-right: 7px;
}

#player1Hand  {
     display: flex;
     padding-top: 7px;
     padding-left: 25px;
     width:292px;
     flex-wrap: wrap;
     background-color: rgb(2, 60, 75);
 }

 #player2Hand  {
    display: flex;
    padding-top: 5px;
    padding-left: 25px;
    width:292px;
    flex-wrap: wrap;
    background-color: rgb(2, 60, 75);
}
div#boneyard {
    background-color: rgb(255, 255, 255);
    width: 320px;
}

h3 {
    color:white;
    text-align:center;
    margin:3px;
}
#player1 {
    border: solid 3px white;
    background-color:rgb(6, 39, 54);
    
}

#player2 {
    border: solid 3px white;
    background-color:rgb(6, 39, 54);
    margin-top:20px;

}

div#playarea {
    position: absolute;
    top: 0px;
    left: 350px;
    width: 1500px;
    height: 1000px;
    background-color: rgb(2, 60, 75);
}
#button {
    position: absolute;
    top:5px;
    left: 555px;
}

p {
    position: absolute;
    left: 450px;
    bottom: 160px;
    color: white;
    font-weight:bold;
    padding-top: 10px;
    text-align:center;
    
}
.invisible {
    display: none;
}
#dropArea {
    position:absolute;
    top: 80px;
    left: 50px;
    width: 1270px;
    height: 700px;
    border: solid 1px white;
    color: #fff;
    font-weight: bold;
}
#dropArea2 {
    position:absolute;
    top: 100px;
    left: 50px;
    width: 1270px;
    height: 700px;
    color: #fff;
    font-weight: bold;
}

#highCard {
    position:absolute;
    top: 130px;
    left: 50px;
    width: 1270px;
    height: 700px;
    color: gold;
    font-weight: bold;
}

.card {
    position: relative;
    cursor: move;
}

img {
    height: 100px;
    width: 80px;
}

.highDouble {
    position: relative;
    cursor: move;
    border: 4px solid rgb(255, 0, 0);
    opacity: 80%;
}

.flipped {
    transform: rotate(180deg);
}
.playArea {
    display: flex;
    justify-content: center;
}

.playArea h1 {
    color: gold;
    font-size:40px;
    padding-right: 290px;
    margin-top: 0px;
}

.playArea .button {
    margin-top:50px;
}

h1 {
    font-family: Georgia;
    font-style: italic;
}