* {
    margin:0;
    padding:0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(2, 84, 104);
}

#hands {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 5px;
}

div#hands {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 320px;
    bottom: auto;
    width: 320px;
}

.topHand {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomHand {
    position: absolute;
    top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player1Hand  {
     display: flex;
     padding-top: 7px;
     padding-left: 47px;
     width:300px;
     flex-wrap: wrap;
     gap: 4px;
  }

 #player2Hand  {
    display: flex;
    padding-top: 5px;
    padding-left: 47px;
    width:300px;
    flex-wrap: wrap;
    gap: 4px;
}
div#boneyard {
    background-color: rgb(255, 255, 255);
    width: 320px;
}

h3 {
    color:white;
    text-align:center;
    width: 100%;
}
#player1 {
    border: solid 3px white;
    background-color:rgb(6, 39, 54);
    padding-left: 10px;
}

#player2 {
    border: solid 3px white;
    background-color:rgb(177, 151, 4);
    margin-top:20px;
    padding-left: 10px;
}

.pointTo1 {
    height: 65px;
    width: 100px;
    position: absolute;
    left: 300px;
    top: 20px;
    z-index:1;
    visibility: hidden;
}

.pointTo2 {
    height: 65px;
    width: 100px;
    position: absolute;
    left: 300px;
    top: 430px;
    z-index:1;
    visibility: hidden;
}

.display1 {
    color: white; 
    height: 20px;
    position: absolute;
    top: 10px; 
    left:240px;
    font-size: 28px;
}

.display2 {
    color: white; 
    height: 20px;
    position: absolute;
    top: 20px; 
    left:240px;
    font-size: 28px;
}

div#playarea {
    position: absolute;
    top: 0px;
    left: 350px;
    width: 1500px;
    height: 1000px;
    background-color: rgb(54, 151, 175);
}
#startBtn {
    position: absolute;
    top:5px;
    left: 597px;
    margin-top: 90px;
    z-index: 1;   
}

#boneBtn {
    border: solid 3px gold;
    height: 37px;
    padding-top:5px;
    width: 100%;
}

.invisible {
    display: none;
}

#startMsg {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:50px;
    top: 120px;
    left: 435px;
    width: 450px;
    height: 170px;
    color: #fff;
    font-weight: bold; 
}

#dropArea {
    position: absolute;
    top: 100px;
    left: 110px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-rows: 100px;
    grid-auto-columns:0fr;
    width: 600px;
    height: 600px;
    margin-bottom: 200px;
}

/* Create 6x6 grid in the drop area */
.droptarget {
    display:flex;
    justify-content: center;
    border: 2px solid  rgb(52, 138, 160);
    text-align: center;
    width: 100px;
    height: 100px;
}

.droptargetC {
    border: 1px solid white;
    text-align: center;
}

.card {
    position: relative;
    cursor: move;
}

img {
    height: 100px;
    width: 70px;
}

.playArea {
    display: flex;
    justify-content: center;
}

.playArea h1 {
    color: gold;
    font-size:40px;
    padding-right: 290px;
    margin-top: 0px;
}

.playArea .button {
    margin-top:50px;
}

.start {
    position: auto;
    width: 1200px;
    justify-content: center;
    
    margin-right: 85px;
}

.start h1 {
    line-height: 1;
    text-align: center;
    font-family: Georgia;
    font-style: italic;
    text-align: center;
    padding-left: 210px;
}

.start h5 {
    line-height: 0;
    margin-top:0;
    text-align: center;
    font-family: Georgia;
    color: white;
    font-size: 20px;
    padding-right: 70px;
    margin-bottom: 0px;
}
 
.start p {
   position: auto;
   margin-top: 770px;
   margin-right: 100px;
   text-align: center;
   color: white;
   font-weight: bold;
   text-align: center;
}
.msgDiv {
    z-index:1;
    border: solid 3px rgb(255, 196, 0);
    width:430px;
}
.p1Dbl {
    position: auto;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 1070px;
    z-index:2;
}
.p2Dbl {
    position: auto;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 1070px;
    z-index:2;
}
.highDouble {
    position: relative;
    cursor: move;
    border: 4px solid rgb(255, 0, 0);
    opacity: 80%;
}

#highCard {
    position: auto;
    padding-left: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 26px;
    width: 1070px;
    z-index:2;
}
